$large: "min-width: 1150px";
$medium-large: "min-width: 1000px";
$medium: "min-width: 800px";
$medium-small: "min-width: 600px";
$small: "min-width: 500px";

$accent: #e06e48;
$accent-adjusted: #dba26b;
$secondary: #ffffe6;
$primary: #4e93ca;
$tertiary: #9990d3;


body{
	overflow-x: hidden;
	background: $primary;
}

@import '_nav';

header{
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;
	height: 370px;
	background: linear-gradient(to bottom, 
		rgba(50,207,255,1) 0%,
		rgba(255,255,230,1) 70%);
	overflow: hidden;
	#title{
		position: absolute;
		top: 50px;
		left: 0px;
		transform: skewY(-25deg) scaleY(2);
		z-index: 10;
		h1{
			font-family: 'Fascinate Inline', cursive;
			position: relative;
			z-index: 10;
			font-size: 3rem;
			color: $accent;
			margin: 0 0 0 20px;
			margin-bottom: 0;
			text-shadow: -2px 2px 5px rgba(100, 100, 100, .6);
			@media(#{$medium-small}){
				font-size: 5rem;
				top: 20px;
				left: 50px;
			}
			@media(#{$medium}){
				font-size: 6rem;
				top: 20px;
				left: 50px;
			}
		}
		h3{
			font-family: 'Lato', sans-serif;
			position: relative;
			z-index: 10;
			font-size: 1rem;
			color: $accent;
			margin: 0 0 0 100px;
			text-shadow: -2px 2px 3px rgba(100, 100, 100, .6);
			@media(#{$medium-small}){
				margin: 10px 0 0 300px;
			}
			// @media(#{$medium}){
			// 	margin: 10px 0 0 300px;
			// }
			@media(#{$medium-large}){
				margin: 10px 0 0 350px;
				font-size: 1.3rem;
			}
		}
	}
	#head-image{
		position: absolute;
		transform: scaleX(-1);
		top: -30px;
		right: -50px;
		width: 400px;
		@media(#{$medium-large}){
			top: -60px;
			right: -10px;
			width: 500px;
		}
	}
}

section#one{
	position: relative;
	top: -150px;
	z-index: 0;
	background: lighten($primary, 5%);
	width: 100%;
	height: 950px;
	transform: skewY(10deg);
	font-family: 'Lato', sans-serif;
	@media(#{$small}){
		height: 950px;
	}
	@media(#{$medium-small}){
		height: 1050px;
	}
	@media(#{$medium}){
		height: 700px;
	}
	@media(#{$medium-large}){
		height: 800px;
	}
	@media(#{$large}){
		height: 800px;
	}
	.content-wrapper{
		display: grid;
		//grid-template-columns: 1fr;
		grid-template-rows: 100%;
		grid-gap: 30px;
		grid-template-areas: 
			"image"
			"text";
		position: relative;
		top: 70px;
		left: 0;
		width: 90%;
		margin: 0 auto;
		transform: skewY(-10deg);
		color: $secondary;
		@media(#{$small}){
			width: 75%;
		}
		@media(#{$medium-small}){
			width: 65%;
		}
		@media(#{$medium}){
			grid-template-columns: 1fr 1.5fr;
			grid-template-areas: "image text";
			width: 90%;
			margin: 0 auto;
		}
		@media(#{$medium-large}){
			grid-template-columns: 1fr 1fr;
			width: 80%;
		}
		@media(#{$large}){
			width: 80%;
		}
		.text{
			grid-area: text;
			margin: 20px auto 0;
			line-height: 1.5;
			h2{
				text-align: center;
				font-family: 'Oswald', sans-serif;
				font-size: 2rem;
			}
			p{
				font-size: 1.1rem;
			}
		}
		.img-container{
			position: relative;
			//left: 50%;
			grid-area: image;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			box-shadow: 1px 2px 4px 1px rgba(100, 100, 100, .6);
			margin: 0 auto;
			background: $tertiary;
			@media(#{$small}){
				width: 300px;
				height: 300px;
			}
			@media(#{$medium-small}){
				width: 350px;
				height: 350px;
			}
			@media(#{$medium}){
				width: 250px;
				height: 250px;
				margin: auto;
			}
			@media(#{$medium-large}){
				width: 350px;
				height: 350px;
			}
			@media(#{$large}){
				width: 400px;
				height: 400px;
				margin: 20px auto;
			}
		}
	}
}

section#two{
	position: relative;
	top: -250px;
	z-index: 0;
	background: lighten($tertiary, 5%);
	width: 100%;
	height: 1100px;
	transform: skewY(-10deg);
	font-family: 'Lato', sans-serif;
	@media(#{$medium-small}){
		top: -300px;
	}
	@media(#{$medium}){
		top: -350px;
	}
	@media(#{$medium-large}){
		top: -350px;
	}
	@media(#{$large}){
		top: -390px;
	}
	.content-wrapper{
		display: grid;
		//grid-template-columns: 1fr;
		grid-template-rows: 100%;
		grid-gap: 30px;
		grid-template-areas: 
			"image"
			"text";
		position: relative;
		top: 70px;
		left: 0;
		width: 90%;
		margin: 0 auto;
		transform: skewY(10deg);
		color: $secondary;
		@media(#{$small}){
			width: 75%;
		}
		@media(#{$medium-small}){
			width: 65%;
		}
		@media(#{$medium}){
			grid-template-columns: 1.5fr 1fr;
			grid-template-areas: "text image";
			width: 90%;
			margin: 0 auto;
		}
		@media(#{$medium-large}){
			grid-template-columns: 1fr 1fr;
			width: 80%;
		}
		@media(#{$large}){
			width: 80%;
		}
		.text{
			grid-area: text;
			margin: 20px auto 0;
			line-height: 1.5;
			h2{
				text-align: center;
				font-family: 'Oswald', sans-serif;
				font-size: 2rem;
			}
			p{
				font-size: 1.1rem;
			}
		}
		.img-container{
			position: relative;
			//left: 50%;
			grid-area: image;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			box-shadow: 1px 2px 4px 1px rgba(100, 100, 100, .6);
			margin: auto;
			background: $tertiary;
			@media(#{$small}){
				width: 300px;
				height: 300px;
			}
			@media(#{$medium-small}){
				width: 350px;
				height: 350px;
			}
			@media(#{$medium}){
				width: 250px;
				height: 250px;
				margin: auto;
			}
			@media(#{$medium-large}){
				width: 350px;
				height: 350px;
			}
			@media(#{$large}){
				width: 400px;
				height: 400px;
				margin: 20px auto;
			}
		}
	}
}

section#three{
	position: relative;
	top: -320px;
	z-index: 0;
	background: lighten($accent-adjusted, 5%);
	width: 100%;
	height: 1000px;
	transform: skewY(10deg);
	font-family: 'Lato', sans-serif;
	@media(#{$small}){
		height: 950px;
	}
	@media(#{$medium-small}){
		height: 1050px;
	}
	@media(#{$medium}){
		height: 700px;
	}
	@media(#{$medium-large}){
		height: 800px;
	}
	@media(#{$large}){
		height: 800px;
	}
	.content-wrapper{
		display: grid;
		//grid-template-columns: 1fr;
		grid-template-rows: 100%;
		grid-gap: 30px;
		grid-template-areas: 
			"image"
			"text";
		position: relative;
		top: 70px;
		left: 0;
		width: 90%;
		margin: 0 auto;
		transform: skewY(-10deg);
		color: $secondary;
		@media(#{$small}){
			width: 75%;
		}
		@media(#{$medium-small}){
			width: 65%;
		}
		@media(#{$medium}){
			grid-template-columns: 1fr 1.5fr;
			grid-template-areas: "image text";
			width: 90%;
			margin: 0 auto;
		}
		@media(#{$medium-large}){
			grid-template-columns: 1fr 1fr;
			width: 80%;
		}
		@media(#{$large}){
			width: 80%;
		}
		.text{
			grid-area: text;
			margin: 20px auto 0;
			line-height: 1.5;
			h2{
				text-align: center;
				font-family: 'Oswald', sans-serif;
				font-size: 2rem;
			}
			p{
				font-size: 1.1rem;
			}
		}
		.img-container{
			position: relative;
			//left: 50%;
			grid-area: image;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			box-shadow: 1px 2px 4px 1px rgba(100, 100, 100, .6);
			margin: 0 auto;
			background: $tertiary;
			@media(#{$small}){
				width: 300px;
				height: 300px;
			}
			@media(#{$medium-small}){
				width: 350px;
				height: 350px;
			}
			@media(#{$medium}){
				width: 250px;
				height: 250px;
				margin: auto;
			}
			@media(#{$medium-large}){
				width: 350px;
				height: 350px;
			}
			@media(#{$large}){
				width: 400px;
				height: 400px;
				margin: 20px auto;
			}
		}
	}
}



