head
	meta(name='viewport', content='width=device-width', initial-scale=1)
	title Nature and You
	link(rel='stylesheet', href='css/normalize.css', type='text/css')
	link(rel='stylesheet', href='css/index.css', type='text/css')
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fascinate+Inline|Lato|Oswald")