<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; xml:space="preserve">
	<circle style="fill:#FFDA44;" cx="367.927" cy="168.562" r="84.6"/>
	
	<path style="fill:#FFCC00;" d="M367.925,83.958v169.201c46.724,0,84.6-37.876,84.6-84.6S414.649,83.958,367.925,83.958z"/>
	
	<circle style="fill:#FFCD00;" cx="367.927" cy="168.562" r="57.708"/>
	
	<path style="fill:#EEBF00;" d="M367.934,110.85v115.417c31.868-0.004,57.7-25.84,57.7-57.709C425.633,136.69,399.802,110.855,367.934,110.85z"/>
	
	<path style="fill:#1E81CE;" d="M383.209,213.724c-2.047-3.179-5.57-5.1-9.351-5.1s-7.304,1.921-9.351,5.098l-46.597,72.323l-94.13-146.117c-1.971-3.06-5.316-4.963-8.954-5.093c-3.638-0.13-7.11,1.528-9.295,4.441L2.226,410.242c-2.529,3.371-2.936,7.881-1.052,11.649c1.884,3.77,5.736,6.15,9.949,6.15h489.753c4.071,0,7.817-2.224,9.765-5.798c1.949-3.574,1.789-7.928-0.415-11.35L383.209,213.724z"/>
	
	<path style="fill:#165C92;" d="M510.641,422.243c1.95-3.574,1.791-7.928-0.415-11.35L383.209,213.724c-2.047-3.179-5.57-5.1-9.351-5.1s-7.304,1.921-9.351,5.098l-46.24,71.768l95.991,142.551h86.617C504.947,428.04,508.693,425.817,510.641,422.243z"/>
	
	<path style="fill:#D1E7F8;" d="M383.209,213.724c-2.047-3.179-5.57-5.1-9.351-5.1s-7.304,1.921-9.351,5.098l-46.597,72.323l-94.13-146.117c-1.971-3.06-5.316-4.963-8.954-5.093c-3.638-0.13-7.11,1.528-9.295,4.441l-59.922,79.863l56.324,31.32l38.706-11.316l103.534,84.817l43.982-32.558l48.937,5.963L383.209,213.724z"/>
	
	<path style="fill:#C2DFF6;" d="M383.209,213.724c-2.047-3.179-5.57-5.1-9.351-5.1s-7.304,1.921-9.351,5.098l-46.597,72.323 l26.263,37.915l43.982-32.558l48.937,5.963L383.209,213.724z"/>
	
	<polygon style="opacity:0.1;enable-background:new;" points="414.258,428.04 317.91,286.045 332.357,263.622 "/>
</svg>
