nav
	input(id="navToggle" type="checkbox")
	label(for="navToggle")
		div#toggle
			div.symbol
			div.symbol
			div.symbol
	#nav
		div#navBar
			ul#links
				li
					a(href="#") HOME
				li
					a(href="#") ABOUT
				li
					a(href="#") CONTACT
		
